{% extends 'layouts/panel.html.twig' %}

{% block pbody %}
	<div class="card">
		<div class="card-body">
			<a class="text-muted btn btn-link disabled text-uppercase">Список предметов:</a>
			<a class="float-right btn btn-sm btn-success text-uppercase" href="{{ route({0: 'subjects', 1: 'add'}) }}"><b>Добавить</b></a>
		</div>
		<table class="table table-striped table-hover table-sm">
			<thead>
				<tr class="text-center">
					<th>ID</th>
					<th>Предмет</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for subject in subjects %}
				<tr class="text-center" id="subject-{{ subject.id }}">
					<td>{{ subject.id }}</td>
					<td><b>{{ subject.title }}</b></td>
					<td>
						<span class="badge badge-warning"><a class="text-white text-uppercase" href="{{ route({0: 'subjects', 1: 'edit', id: subject.id}) }}" >Изменить название</a></span>
						<span class="badge badge-danger"><a class="text-white text-uppercase" href="#" onclick="actionDelete({{ subject.id }}, '{{ subject.title }}')">Удалить</a></span>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		function actionDelete(id, title){
			deleteAjaxWithAlert('Вы действительно хотите удалить предмет <b>' + title + '</b>?', '{{ route({0: 'subjects', 1: 'delete'}) }}&id=' + id, 'subject-' + id);
		}
	</script>
{% endblock %}
