{% extends 'layouts/panel.html.twig' %}

{% block pbody %}
	<div class="card">
		<div class="card-body">
			<div class="alert alert-info" style="margin-bottom: 10px;">
				{% if type == 'add' %}
					Введите имя нового преподавателя.
					<br><br>
				{% endif %}
				Длина названия: <b>2-64 символа</b>.
				<br>
				Например: <b>Иванов И.И.</b>.
			</div>
			<hr>
			<form method="post">
				<div class="form-group row">
					<label for="t_title" class="col-sm-2 col-form-label">Имя</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="t_title" name="t_title" placeholder="Введите имя..." {% if type == 'edit' %} value="{{ teacher.title }}" {% endif %}>
					</div>
				</div>
				{% if type == 'add' %}
						<div class="form-group row">
							<div class="offset-md-2 col-sm-10">
								<button class="btn btn-block btn-success text-uppercase">Добавить</button>
							</div>
						</div>
					</form>
				{% elseif type == 'edit' %}
						<div class="form-group row">
							<div class="offset-md-2 col-sm-10">
								<button class="btn btn-block btn-success text-uppercase">Сохранить</button>
							</div>
						</div>
					</form>
				{% endif %}
		</div>
	</div>
{% endblock %}
