{% extends 'layouts/panel.html.twig' %}

{% block pbody %}
	<div class="card">
		<div class="card-body">
			<a class="text-muted btn btn-link disabled text-uppercase">Список преподавателей:</a>
			<a class="float-right btn btn-sm btn-success text-uppercase" href="{{ route({0: 'teachers', 1: 'add'}) }}"><b>Добавить</b></a>
		</div>
		<table class="table table-striped table-hover table-sm">
			<thead>
				<tr class="text-center">
					<th>ID</th>
					<th>Имя</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for teacher in teachers %}
				<tr class="text-center" id="teacher-{{ teacher.id }}">
					<td>{{ teacher.id }}</td>
					<td><b>{{ teacher.title }}</b></td>
					<td>
						<span class="badge badge-warning"><a class="text-white text-uppercase" href="{{ route({0: 'teachers', 1: 'edit', id: teacher.id}) }}" >Изменить имя</a></span>
						<span class="badge badge-danger"><a class="text-white text-uppercase" href="#" onclick="actionDelete({{ teacher.id }}, '{{ teacher.title }}')">Удалить</a></span>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		function actionDelete(id, title){
			deleteAjaxWithAlert('Вы действительно хотите удалить преподавателя <b>' + title + '</b>?', '{{ route({0: 'teachers', 1: 'delete'}) }}&id=' + id, 'teacher-' + id);
		}
	</script>
{% endblock %}
