{% if paginate_pagesnum > 1 %}
	<div class="btn-group mr-2">
		<a href="{{ route({0: 'main', 1: 'panel', page: paginate_currentpage - 1}) }}" class="btn btn-secondary {% if paginate_currentpage - 1 <= 0 %}disabled{% endif %}"><</a>
	</div>
	<div class="btn-group mr-2">
		{% for i in 1..paginate_pagesnum %}
			<a href="{{ route({0: 'main', 1: 'panel', page: i}) }}" class="btn btn-secondary {% if i == paginate_currentpage %}disabled{% endif %}">{{ i }}</a>
		{% endfor %}
	</div>
	<div class="btn-group">
		<a href="{{ route({0: 'main', 1: 'panel', page: paginate_currentpage + 1}) }}" class="btn btn-secondary {% if paginate_currentpage + 1 > paginate_pagesnum %}disabled{% endif %}">></a>
	</div>
{% endif %}
