<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }} // {{ constant('APP_NAME') }}</title>
	<link rel="icon" href="/assets/img/logo-128.png">
	<link href="https://fonts.googleapis.com/css?family=Rubik:500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/fontawesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/sweetalert/dist/sweetalert2.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	{% block styles %}{% endblock %}
</head>
<body>
	{% include 'layouts/app/navbar.html.twig' %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% if alerts_exists() %}
					<hr>
					{% for alert in get_alerts() %}
						<div class="alert alert-{{ alert.color }}">
							{{ alert.message | raw }}
						</div>
					{% endfor %}
					<hr>
				{% endif %}
			</div>
		</div>
	</div>

	{% block body %}{% endblock %}

	<div class="container text-center">
		<hr>
		&copy; 2019 <b><a href="/">{{ constant('APP_NAME') }}</a></b>
		<br>
		Версия: <b>{{ constant('APP_VERSION') }}</b> (сборка <b>#{{ constant('APP_NUMBER') }}</b>)
		<br><br>
		Powered by <b><a href="http://belcoders.ru" target="_blank">Belcoders, Inc.</a></b>
		<br><br>
	</div>

	<script src="/assets/js/jquery-3.1.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/sweetalert/dist/sweetalert2.all.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
	<script src="/assets/js/app.js"></script>
	{% block scripts %}{% endblock %}
</body>
</html>
