{% extends 'layouts/app.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-4 text-center text-uppercase">{{ title }}</h1>
				<p class="text-muted text-center text-uppercase">Панель управления</p>
				<hr>
			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="card-body">
						<nav class="nav nav-pills flex-column">
							<a class="nav-link text-uppercase {% if is_route({0: 'main', 1: 'panel'}) %}active{% endif %}" href="{{ route({0: 'main', 1: 'panel'}) }}">Главная</a>
							<a class="nav-link text-uppercase {% if is_route({0: 'users'}) %}active{% endif %}" href="{{ route({0: 'users', 1: 'list'}) }}">Модераторы</a>
							<a class="nav-link text-uppercase {% if is_route({0: 'schedule'}) %}active{% endif %}" href="{{ route({0: 'schedule', 1: 'view'}) }}">Расписание</a>
							<a class="nav-link text-uppercase" href="#">Замены</a>
							<a class="nav-link text-uppercase {% if is_route({0: 'subjects'}) %}active{% endif %}" href="{{ route({0: 'subjects', 1: 'list'}) }}">Предметы</a>
							<a class="nav-link text-uppercase {% if is_route({0: 'teachers'}) %}active{% endif %}" href="{{ route({0: 'teachers', 1: 'list'}) }}">Преподаватели</a>
							<a class="nav-link text-uppercase {% if is_route({0: 'places'}) %}active{% endif %}" href="{{ route({0: 'places', 1: 'list'}) }}">Аудитории</a>
							<a class="nav-link text-uppercase {% if is_route({0: 'groups'}) %}active{% endif %}" href="{{ route({0: 'groups', 1: 'list'}) }}">Группы</a>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				{% block pbody %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
