{% extends 'layouts/panel.html.twig' %}

{% block pbody %}
	<div class="card">
		<div class="card-body">
			<div class="alert alert-info" style="margin-bottom: 10px;">
				{% if type == 'add' %}
					Придумайте логин и пароль для нового модератора.
					<br><br>
				{% endif %}
				В <b><u>логине</u></b> могут использоваться английские символы любого регистра (<b>a-z, A-Z</b>), цифры (<b>0-9</b>), минус (<b>-</b>) и нижнее подчеркивание (<b>_</b>).
				<br>
				Длина логина: <b>4-24 символа</b>.
				<br>
				Например: <b>_example_</b>, <b>ivan-ivanov23</b>.
				<br><br>
				В <b><u>пароле</u></b> могут использоваться любые символы.
				<br>
				Длина пароля: <b>6-64 символа</b>.
				{% if type == 'edit' %}
					<br><br>
					Если не хотите менять какой-то из параметров, то просто оставьте его нетронутым.
				{% endif %}
			</div>
			<hr>
			<form method="post">
				<div class="form-group row">
					<label for="u_login" class="col-sm-2 col-form-label">Логин</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="u_login" name="u_login" placeholder="Придумайте логин..." {% if type == 'edit' %} value="{{ user.login }}" {% endif %}>
					</div>
				</div>
				<div class="form-group row">
					<label for="u_password" class="col-sm-2 col-form-label">Пароль</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="u_password" name="u_password" placeholder="Придумайте пароль...">
					</div>
				</div>
				{% if type == 'add' %}
						<div class="form-group row">
							<div class="offset-md-2 col-sm-10">
								<button class="btn btn-block btn-success text-uppercase">Добавить</button>
							</div>
						</div>
					</form>
				{% elseif type == 'edit' %}
						<div class="form-group row">
							<div class="offset-md-2 col-sm-10">
								<button class="btn btn-block btn-success text-uppercase">Сохранить</button>
							</div>
						</div>
					</form>
				{% endif %}
		</div>
	</div>
{% endblock %}
