{% extends 'layouts/panel.html.twig' %}

{% block pbody %}
	<div class="alert alert-danger">
		Вы действительно хотите удалить модератора <b>{{ user.login }}</b>?
		<br><br>
		<form method="post">
			<button class="btn btn-danger">Удалить <i class="fa fa-trash"></i></button>
			<a href="{{ route({0: 'users', 1: 'list'}) }}" class="btn btn-light">Отмена <i class="fa fa-times"></i></a>
		</form>
	</div>
{% endblock %}
