{% extends 'layouts/panel.html.twig' %}

{% block pbody %}
	<div class="card">
		<div class="card-body">
			<a class="text-muted btn btn-link disabled text-uppercase">Список модераторов:</a>
			<a class="float-right btn btn-sm btn-success text-uppercase" href="{{ route({0: 'users', 1: 'add'}) }}"><b>Добавить</b></a>
		</div>
		<table class="table table-striped table-hover table-sm">
			<thead>
				<tr class="text-center">
					<th>ID</th>
					<th>Логин</th>
					<th>Управление</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
				<tr class="text-center" id="user-{{ user.id }}">
					<td>{{ user.id }}</td>
					<td><a href="{{ route({0: 'users', 1: 'view', id: user.id}) }}">{{ user.login }}</a></td>
					<td>
						<span class="badge badge-primary"><a class="text-white text-uppercase" href="{{ route({0: 'users', 1: 'view', id: user.id}) }}">Профиль</a></span>
						<span class="badge badge-warning"><a class="text-white text-uppercase" href="{{ route({0: 'users', 1: 'edit', id: user.id}) }}" >Редактировать</a></span>
						<span class="badge badge-danger"><a class="text-white text-uppercase" href="#" onclick="actionDelete({{ user.id }}, '{{ user.login }}')">Удалить</a></span>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		function actionDelete(id, title){
			deleteAjaxWithAlert('Вы действительно хотите удалить модератора <b>' + title + '</b>?', '{{ route({0: 'users', 1: 'delete'}) }}&id=' + id, 'user-' + id);
		}
	</script>
{% endblock %}
