{% extends 'layouts/panel.html.twig' %}

{% block pbody %}
	<div class="card">
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><img class="rounded mx-auto d-block" width="50%" src="/assets/img/noava.jpg"></li>
			<li class="list-group-item">ID: <b>{{ user.id }}</b></li>
			<li class="list-group-item">Логин: <b>{{ user.login }}</b></li>
			<li class="list-group-item">Дата регистрации: <b>{{ convert_date(user.regdate) }}</b></li>
		</ul>
	</div>
{% endblock %}
