{% extends 'layouts/app.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-4 text-center text-uppercase">Вход</h1>
				<div class="card">
					<div class="card-body">
						<form method="post" onsubmit="return submitSignIn(event)">
							<div class="form-group row">
								<label for="login" class="col-sm-2 col-form-label text-uppercase">Логин</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="login" name="login" placeholder="Введите логин...">
								</div>
							</div>
							<div class="form-group row">
								<label for="password" class="col-sm-2 col-form-label text-uppercase">Пароль</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль...">
								</div>
							</div>
							<div class="form-group row">
								<div class="offset-md-2 col-sm-10">
									<button class="btn btn-block btn-primary text-uppercase">Войти</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		function submitSignIn(e){
			e.preventDefault();

			var login = $('#login').val();
			var password = $('#password').val();

			ajaxWithAlert('', { login: login, password: password }, function(data){
				Swal.fire({
					type: 'success',
					html: data.message,
				});

				setTimeout(function(){
					window.location.replace(data.next_url);
				}, 3000);
			});
		}
	</script>
{% endblock %}
