{% extends 'layouts/app.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">Сегодня</h1>
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>Группа</th>
							<th>Уроки</th>
							<th>Предмет</th>
							<th>Преподаватель, аудитория</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>264р</td>
							<td>1, 2 уроки</td>
							<td>Ремонт с/х машин</td>
							<td>Вашкевич, 14м</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-12">
				<h1 class="text-center">Завтра</h1>
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>Группа</th>
							<th>Уроки</th>
							<th>Предмет</th>
							<th>Преподаватель, аудитория</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>264р</td>
							<td>2, 4 уроки</td>
							<td>Ремонт с/х машин</td>
							<td>Вашкевич, 14м</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
