{% extends 'layouts/panel.html.twig' %}

{% block pbody %}
	<div class="card">
		<div class="card-body">
			<div class="col-md-12 text-center">
				{% include 'tplhelpers/paginate.html.twig' %}
				<hr>
			</div>
			<div class="col-md-12">
				<h6 class="border-bottom border-gray pb-2 mb-0">Последние действия</h6>
				{% for post in feed %}
					<div class="media pt-3">
						<image class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="/assets/img/noava.jpg">
						<p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
							{{ post.view | raw }}
							<br>
							<span class="text-muted">{{ post.date }}</span>
						</p>
					</div>
				{% endfor %}
			</div>
			<div class="col-md-12 text-center">
				<hr>
				{% include 'tplhelpers/paginate.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
