{% extends 'layouts/app.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% for key, day in schedule %}
					<h1 class="text-center">{{ schedule_days[key] }}</h1>
					<table class="table table-striped table-bordered table-hover table-sm">
						<thead>
						<tr class="text-center">
							<th></th>
							{% for group in day['groups'] %}
								<th>{{ group }}</th>
							{% endfor %}
						</tr>
						</thead>
						<tbody>
							{% for time, time_row in day['view'] %}
								<tr class="text-center">
									<td>{{ time }} урок</td>
									{% for row in time_row %}
										<td>
											{{ row.subject.title }}
											{% if row.teacher.title %}
												<br>
												<small class="text-muted">{{ row.teacher.title }}, {{ row.place.title }}
											{% endif %}
										</td>
									{% endfor %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
