<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
	<a class="navbar-brand text-uppercase" href="/">EduSystem</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link text-uppercase" href="/">Замены</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-uppercase" href="{{ route({0: 'main', 1: 'schedule'}) }}">Расписание</a>
			</li>
		</ul>
		{% if is_auth() %}
			<ul class="navbar-nav mr-3">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-uppercase" href="#" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ get_user()['login'] }}
					</a>
					<div class="dropdown-menu" aria-labelledby="loginDropdown">
						<a class="dropdown-item text-uppercase" href="{{ route({0: 'main', 1: 'panel'}) }}">Панель управления</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item text-uppercase" href="{{ route({0: 'auth', 1: 'signout', back: get_uri()}) }}">Выйти</a>
					</div>
				</li>
			</ul>
			<div class="my-2 my-lg-0">
				<a href="{{ route({0: 'auth', 1: 'signout', back: get_uri()}) }}" class="btn btn-outline-danger my-2 my-sm-0 text-uppercase">Выйти</a>
			</div>
		{% else %}
			<div class="my-2 my-lg-0">
				<a href="{{ route({0: 'auth', 1: 'signin', back: get_uri()}) }}" class="btn btn-outline-primary my-2 my-sm-0 text-uppercase">Войти</a>
			</div>
		{% endif %}
	</div>
</nav>
