{% extends 'layouts/panel.html.twig' %}

{% block pbody %}
    <div class="card">
        <div class="card-body">
            <div class="alert alert-info" style="margin-bottom: 10px;">
                {% if type == 'add' %}
                    Заполните все данные для новой записи в расписании.
                {% else %}
                    Если не хотите что-то менять &ndash; просто оставьте поле нетронутым.
                {% endif %}
            </div>
            <hr>
            <form method="post">
                <div class="form-group row">
                    <label for="day" class="col-sm-3 col-form-label">День</label>
                    <div class="col-sm-9">
                        <select class="selectpicker form-control" name="day" data-live-search="true">
                            <option {% if row.day == 1 %} selected {% endif %} value="1">Понедельник</option>
                            <option {% if row.day == 2 %} selected {% endif %} value="2">Вторник</option>
                            <option {% if row.day == 3 %} selected {% endif %} value="3">Среда</option>
                            <option {% if row.day == 4 %} selected {% endif %} value="4">Четверг</option>
                            <option {% if row.day == 5 %} selected {% endif %} value="5">Пятница</option>
                            <option {% if row.day == 6 %} selected {% endif %} value="6">Суббота</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="time" class="col-sm-3 col-form-label">Урок</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="time" name="time" placeholder="Введите номер урока..." {% if type == 'edit' %} value="{{ row.time }}" {% endif %}>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="group_id" class="col-sm-3 col-form-label">Группа</label>
                    <div class="col-sm-9">
                        <select class="selectpicker form-control" name="group_id" data-live-search="true">
                            {% for group in groups %}
                                <option {% if row.group_id == group.id %} selected {% endif %} value="{{ group.id }}">{{ group.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="subject_id" class="col-sm-3 col-form-label">Предмет</label>
                    <div class="col-sm-9">
                        <select class="selectpicker form-control" name="subject_id" data-live-search="true">
                            {% for subject in subjects %}
                                <option {% if row.subject_id == subject.id %} selected {% endif %} value="{{ subject.id }}">{{ subject.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="teacher_id" class="col-sm-3 col-form-label">Преподаватель</label>
                    <div class="col-sm-9">
                        <select class="selectpicker form-control" name="teacher_id" data-live-search="true">
                            <option value="0">---</option>
                            {% for teacher in teachers %}
                                <option {% if row.teacher_id == teacher.id %} selected {% endif %} value="{{ teacher.id }}">{{ teacher.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="place_id" class="col-sm-3 col-form-label">Аудитория</label>
                    <div class="col-sm-9">
                        <select class="selectpicker form-control" name="place_id" data-live-search="true">
                            <option value="0">---</option>
                            {% for place in places %}
                                <option {% if row.place_id == place.id %} selected {% endif %} value="{{ place.id }}">{{ place.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% if type == 'add' %}
                <div class="form-group row">
                    <div class="offset-md-3 col-sm-9">
                        <button class="btn btn-block btn-success text-uppercase">Добавить</button>
                    </div>
                </div>
            </form>
            {% elseif type == 'edit' %}
                <div class="form-group row">
                    <div class="offset-md-3 col-sm-9">
                        <button class="btn btn-block btn-success text-uppercase">Сохранить</button>
                    </div>
                </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}