{% extends 'layouts/panel.html.twig' %}

{% block pbody %}
	<div class="card">
		<div class="card-body">
			<a class="text-muted btn btn-link disabled text-uppercase">Расписание:</a>
			<a class="float-right btn btn-sm btn-success text-uppercase" href="{{ route({0: 'schedule', 1: 'add'}) }}"><b>Добавить запись</b></a>
		</div>
		{% for key, days in schedule %}
			<h1 class="text-center text-uppercase">{{ schedule_days[key] }}</h1>
			<table class="table table-striped table-hover table-sm">
				<thead>
					<tr class="text-center">
						<th>Урок</th>
						<th>Группа</th>
						<th>Предмет</th>
						<th>Преподаватель</th>
						<th>Аудитория</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for row in days %}
						<tr class="text-center" id="row-{{ row.id }}">
							<td>
								{{ row.time }}
							</td>
							<td>
								{{ row.group.title }}
							</td>
							<td>
								{{ row.subject.title }}
							</td>
							<td>
								{{ row.teacher.title }}
							</td>
							<td>
								{{ row.place.title }}
							</td>
							<td>
								<span class="badge badge-primary"><a class="text-white text-uppercase" href="#" onclick="selectAction({{ row.id }}, '{{ row.day }}, {{ row.time }}-й урок, {{ row.group.title }} группа')">Действия</a></span>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endfor %}
	</div>
{% endblock %}

{% block scripts %}
	<script>
		function selectAction(id, title){
			Swal.fire({
				text: "Выберите действие:",
				type: 'info',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				cancelButtonText: 'Удалить',
				confirmButtonText: 'Редактировать'
			}).then((result) => {
				if(result.value){
                    window.location.replace('{{ route({0: 'schedule', 1: 'edit'}) }}&id=' + id);
				} else if(result.dismiss === Swal.DismissReason.cancel){
					deleteAjaxWithAlert('Вы действительно хотите удалить запись <b>' + title + '</b>?', '{{ route({0: 'schedule', 1: 'delete'}) }}&id=' + id, 'row-' + id);
				}
			})
		}
	</script>
{% endblock %}
